<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCcwChrfM5Dgd9ZREkZnvv6Q-WbgCxVxO4</string>
	<key>GCM_SENDER_ID</key>
	<string>696821337583</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tippedCow</string>
	<key>PROJECT_ID</key>
	<string>tippedcow-abc14</string>
	<key>STORAGE_BUCKET</key>
	<string>tippedcow-abc14.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:696821337583:ios:0db9dc1e98840de7a6fa1a</string>
</dict>
</plist>